In [1]:
import pandas as pd

In [2]:
data_path = './data'

     week_date
0   2013-01-07
1   2013-01-14
2   2013-01-21
3   2013-01-28
4   2013-02-04
..         ...
256 2017-12-04
257 2017-12-11
258 2017-12-18
259 2017-12-25
260 2018-01-01

[261 rows x 1 columns]

In [3]:
cal = pd.read_csv(f'{data_path}/calendar_table.csv')
cal['date'] = pd.to_datetime(cal['date'])
grouper = pd.Grouper(key='date', freq='1W')
week_dates = pd.Series(cal.groupby(grouper).count()['day'].index)
week_dates_df = pd.DataFrame()
week_dates_df['week_date'] = pd.to_datetime(week_dates) + pd.Timedelta(days=1)
week_dates.to_csv(f'{data_path}/week_dates.csv', index=False)
week_dates_df

     week_date
0   2013-01-07
1   2013-01-14
2   2013-01-21
3   2013-01-28
4   2013-02-04
..         ...
256 2017-12-04
257 2017-12-11
258 2017-12-18
259 2017-12-25
260 2018-01-01

[261 rows x 1 columns]